{
    "htmlWhitespaceSensitivity": "ignore",
    "attributeGroups": [],
    "singleAttributePerLine": false,
    "overrides": [{
        "files": "*.jsx",
        "options": {
            "parser": "babel"
        }
    }]
}